<!-- Resources Section -->
<section id="resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resources</h2>
        <hr class="star-primary" />
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div class="col-lg-8 col-lg-offset-2">
        <h3>Game Engines / Frameworks</h3>
        <h3>
          <a href="https://unity.com/">Unity</a>
        </h3>
        <h4>Unity Tutorials</h4>
        <ul>
          <li>
            <a href="https://learn.unity.com/tutorials">Unity Learn</a>
          </li>
          <li>
            <a
              href="https://catlikecoding.com/unity/tutorials/procedural-meshes/"
              >Procedural Mesh Generation</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=7iYWpzL9GkM"
              >2D Top Down Pixel Art RPG Crash Course</a
            >
          </li>
        </ul>
        <h3>
          <a href="https://godotengine.org/">Godot</a>
        </h3>
        <h3>Uncategorized Resources</h3>
        <ul>
          <li>
            <a
              href="https://abitawake.com/news/articles/procedural-generation-with-godot-creating-caves-with-cellular-automata"
              >Procedural generation with Godot: Creating caves with Cellular
              Automata</a
            >
          </li>
          <li>
            <a href="https://gamedevacademy.org/godot-4-0-tutorial/"
              >(Zenva) The Best Godot 4 Tutorials – Complete Game Dev Guide</a
            >
            <ul>
              <li>Note - may require email signup to access resources.</li>
            </ul>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=Luf2Kr5s3BM"
              >Godot 4 Crash Course for Beginners - GameDev 2D Top Down
              Tutorial</a
            >
          </li>
          <li>
            <a href="https://selinadev.github.io/tags/godot4/"
              >Godot 4 Roguelike Tutorial</a
            >
          </li>
          <li>
            <a href="https://kidscancode.org/godot_recipes/4.x/"
              >Godot 4 Recipes</a
            >
          </li>
          <li>
            <a href="https://github.com/godotengine/awesome-godot"
              >Awesome Godot Scripts/Links</a
            >
          </li>
        </ul>
        <h3>
          <a href="https://www.pygame.org/">PyGame</a>
        </h3>
        <ul>
          <li>
            <a href="https://www.pygame.org/wiki/tutorials">Pygame Tutorials</a>
          </li>
          <li>
            <a href="https://www.youtube.com/@ClearCode">ClearCode channel</a>
          </li>
        </ul>
        <h3>
          <a href="https://p5js.org/">p5.js</a>
        </h3>
        <h3>
          <a href="https://twinery.org/">Twine</a>
        </h3>
        <ul>
          <li>
            <a href="https://twinery.org/reference/en/">Reference Manual</a>
          </li>
          <li>
            <a href="https://twinery.org/cookbook/">Twine Cookbook (how to do all the things)</a>
          </li>
          <li>
            <a href="https://www.adamhammond.com/twineguide/">Twine Guide</a>
          </li>
          <li>
            <a href="https://opensource.com/article/18/2/twine-gaming">Twine Gaming</a>
          </li>
        </ul>
        <h1>Asset Resources</h1>
        <p>
          At some point adding graphics and sound to your game are going to help
          make it shine. Here are some resources to help you for adding a bit of
          polish.
        </p>
        <p>
          <strong
            >Our suggestion is to use royalty-free or creative commons-licensed
            assets to avoid any sort of licensing issues. Ensure you read the
            terms of usage for ANY asset you use, as typically you will need to
            give attribution!</strong
          >
        </p>
        <h3>Asset Repositories</h3>
        <ul>
          <li>
            <a href="https://opengameart.org/">OpenGameArt</a>
          </li>
          <li>
            <a href="https://itch.io/game-assets">itch.io Game Assets</a>
          </li>
        </ul>
        <h3>
          <a href="https://www.blender.org/">Blender</a>
        </h3>
        <ul>
          <li>
            <a href="https://youtu.be/jnj2BL4chaQ"
              >Blender 3 - Complete Beginner&#39;s Guide</a
            >
          </li>
          <li>
            <a
              href="https://download.blender.org/documentation/BlenderHotkeyReference.pdf"
              >Blender Keybindings (may be out of date)</a
            >
          </li>
          <li>
            <a href="https://tekshinobi.com/blender-key-bindings/"
              >Blender Keybindings</a
            >
          </li>
          <li>
            <a
              href="https://blender.stackexchange.com/questions/49197/how-to-get-camera-view-like-top-view"
              >Blender 2D topdown camera view</a
            >
          </li>
          <li>
            <a
              href="https://www.reddit.com/r/blender/comments/zzj35t/how_to_make_real_time_liquid/"
              >Blender Liquid (from ocean/shrinkwrap modifiers)</a
            >
          </li>
        </ul>
        <h4>Blender Tips</h4>
        <h5>Set camera to top-down 2D view</h5>
        <p>
          <em
            >c/o:
            <a
              href="https://blender.stackexchange.com/questions/49197/how-to-get-camera-view-like-top-view"
              >Blender StackExchange</a
            ></em
          >
        </p>
        <ol>
          <li>Select camera in scene heirarchy</li>
          <li><code>Alt+g</code> (reset position)</li>
          <li><code>Alt+r</code> (reset rotation)</li>
          <li><code>g+z</code> (move along z-axis)</li>
        </ol>
        <h5>Rotate camera around object (at origin)</h5>
        <ol>
          <li>Add an empty (axes)</li>
          <li>
            Parent camera to empty
            <ul>
              <li>Click the empty</li>
              <li>Hold shift, grab camera, move onto empty</li>
            </ul>
          </li>
          <li>Animate empty</li>
        </ol>
        <h5>Fluid simulation</h5>
        <ul>
          <li>
            See:
            <a
              href="https://www.versluis.com/2022/06/creating-fluid-simulations-in-blender/"
              >https://www.versluis.com/2022/06/creating-fluid-simulations-in-blender/</a
            >
          </li>
        </ul>
        <h3>Other Resources</h3>
        <h4>Git/GitHub-Related</h4>
        <ul>
          <li>
            <a
              href="https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site"
              >GitHub Pages guide</a
            >
          </li>
          <li>
            <a href="http://rogerdudler.github.io/git-guide/"
              >git - the simple guide</a
            >
          </li>
          <li>
            <a href="https://github.com/git-guides">Git Guide</a>
          </li>
          <li>
            <a href="https://git-scm.com/book/en/v2/">Git Book</a>
          </li>
          <li>
            <a
              href="https://www3.ntu.edu.sg/home/ehchua/programming/howto/Git_HowTo.html"
              >How to Get Started with GIT and work with GIT Remote Repo</a
            >
          </li>
          <li>
            <a
              href="https://old.benjaminashbaugh.me/code/simple-git-github-tutorial"
              >A Simple GitHub Tutorial</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/document/d/1uy1sltx6kQiiIRy_UdUoZsQknsmrcQjJGbfvhCCsK7Y/edit"
              >Basic Git Commands (c/o Dr. Dowling)</a
            >
          </li>
          <li>
            <a
              href="https://docs.google.com/document/d/10EARJZhLLDXspfl4g1P3SS2zbHTWR1ru9ppP3W-NaT4/edit"
              >Git Tutorial (c/o Dr. Dowling)</a
            >
          </li>
        </ul>
        <h4>Uncategorized</h4>
        <ul>
          <li>
            <a href="https://cables.gl/">Cables.gl</a> -- Node-based rendering
            on the web
          </li>
          <li>
            <a href="https://thecodingtrain.com/">The Coding Train</a> --
            P5.js/Processing tutorials
          </li>
          <li>
            <a href="https://sbcode.net/threejs/geometry-to-buffergeometry/"
              >Moving from Three.js Geometry to BufferGeometry</a
            >
          </li>
        </ul>
      </div>

      <!-- <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div> -->
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
