<!-- Resources Section -->
<section id="resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Resources</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2"> -->
      <div class="col-lg-8 col-lg-offset-2">
      </div>
# Game Engines / Frameworks

## [Unity](https://unity.com/){:target="_blank"}

### Unity Tutorials

* [Procedural Mesh Generation](https://catlikecoding.com/unity/tutorials/procedural-meshes/){:target="\_blank"}
* [2D Top Down Pixel Art RPG Crash Course](https://www.youtube.com/watch?v=7iYWpzL9GkM){:target="\_blank"}


## [Godot](https://godotengine.org/){:target="_blank"}

### Uncategorized Resources

* [Procedural generation with Godot: Creating caves with Cellular Automata](https://abitawake.com/news/articles/procedural-generation-with-godot-creating-caves-with-cellular-automata){:target="_blank"}
* [(Zenva) The Best Godot 4 Tutorials – Complete Game Dev Guide](https://gamedevacademy.org/godot-4-0-tutorial/){:target="_blank"}
    * Note - may require email signup to access resources.
* [Godot 4 Crash Course for Beginners - GameDev 2D Top Down Tutorial](https://www.youtube.com/watch?v=Luf2Kr5s3BM){:target="_blank"}

## [PyGame](https://www.pygame.org/){:target="_blank"}

## [p5.js](https://p5js.org/){:target="_blank"}

## [Twine](https://twinery.org/){:target="_blank"}

# Asset Resources

At some point adding graphics and sound to your game are going to help make it shine.  Here are some resources to help you for adding a bit of polish.

{: .important }
**Our suggestion is to use royalty-free or creative commons-licensed assets to avoid any sort of licensing issues.  Ensure you read the terms of usage for ANY asset you use, as typically you will need to give attribution!**

## Asset Repositories

* [OpenGameArt](https://opengameart.org/){:target="_blank"}
* [itch.io Game Assets](https://itch.io/game-assets){:target="_blank"}


## [Blender](https://www.blender.org/){:target="_blank"}

* [Blender 3 - Complete Beginner's Guide](https://youtu.be/jnj2BL4chaQ){:target="_blank"}
* [Blender Keybindings (may be out of date)](https://download.blender.org/documentation/BlenderHotkeyReference.pdf){:target="_blank"}
* [Blender Keybindings](https://tekshinobi.com/blender-key-bindings/){:target="_blank"}
* [Blender 2D topdown camera view](https://blender.stackexchange.com/questions/49197/how-to-get-camera-view-like-top-view){:target="_blank"}
* [Blender Liquid (from ocean/shrinkwrap modifiers)](https://www.reddit.com/r/blender/comments/zzj35t/how_to_make_real_time_liquid/){:target="_blank"}

### Blender Tips

#### Set camera to top-down 2D view

*c/o: [Blender StackExchange](https://blender.stackexchange.com/questions/49197/how-to-get-camera-view-like-top-view){:target="\_blank"}*

1. Select camera in scene heirarchy
2. `Alt+g` (reset position)
3. `Alt+r` (reset rotation)
4. `g+z` (move along z-axis)

#### Rotate camera around object (at origin)

1. Add an empty (axes)
2. Parent camera to empty
    * Click the empty 
    * Hold shift, grab camera, move onto empty
3. Animate empty

#### Fluid simulation

* See: [https://www.versluis.com/2022/06/creating-fluid-simulations-in-blender/](https://www.versluis.com/2022/06/creating-fluid-simulations-in-blender/){:target="_blank"}

## Other Resources

### Git/GitHub-Related

* [GitHub Pages guide](https://docs.github.com/en/pages/getting-started-with-github-pages/creating-a-github-pages-site){:target="_blank"}
* [git - the simple guide](http://rogerdudler.github.io/git-guide/){:target="_blank"}
* [Git Guide](https://github.com/git-guides){:target="_blank"}
* [Git Book](https://git-scm.com/book/en/v2/){:target="_blank"}
* [How to Get Started with GIT and work with GIT Remote Repo](https://www3.ntu.edu.sg/home/ehchua/programming/howto/Git_HowTo.html){:target="_blank"}
* [A Simple GitHub Tutorial](https://old.benjaminashbaugh.me/code/simple-git-github-tutorial){:target="_blank"}
* [Basic Git Commands (c/o Dr. Dowling)](https://docs.google.com/document/d/1uy1sltx6kQiiIRy_UdUoZsQknsmrcQjJGbfvhCCsK7Y/edit){:target="_blank"}
* [Git Tutorial (c/o Dr. Dowling)](https://docs.google.com/document/d/10EARJZhLLDXspfl4g1P3SS2zbHTWR1ru9ppP3W-NaT4/edit){:target="_blank"}

### Uncategorized

* [Cables.gl](https://cables.gl/){:target="_blank"} -- Node-based rendering on the web
* [The Coding Train](https://thecodingtrain.com/){:target="_blank"} -- P5.js/Processing tutorials
* [Moving from Three.js Geometry to BufferGeometry](https://sbcode.net/threejs/geometry-to-buffergeometry/){:target="_blank"}


      <!-- <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div> -->
      <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div> -->
    </div>
  </div>
</section>
